<?xml version="1.0"?>
<launch>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="world_name" default="apt"/> <!-- apt, room -->
    <arg name="world" default="$(find rtabmap_drone_example)/worlds/$(arg world_name).world"/>
    <arg name="fixed_velodyne" default="false"/>
    <arg name="vertical_velodyne" default="false"/>
    <arg name="rotation_speed" default="0.785398163"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- Spawn drone -->
    <include file="$(find rtabmap_drone_example)/launch/spawn_drone.launch">
        <arg name="yaw" value="-1.5"/>
    </include>
</launch>
